:root {
    --loader-bg: #272727;
}

body {
    background-color: #272727 !important;
}

header#Navbar,
header[id="Navbar"], 
section#ActionsBar {
    background-color: #1c1c1c !important;
}

:root {
    --color-primary: #d7640f !important;
    --darkreader-bg--btn-primary-bg: #d7640f !important;
    --darkreader-bg--color-primary: #d7640f !important;
    --darkreader-selection-background: #d7640f !important;
    --darkreader-bg--color-gray-dark: #252525 !important;
    --darkreader-text--color-white: #dedcd9 !important;
}

span[color="primary"] {
    background-color: #d7640f !important;
}
